body {
    background: url(../images/bg.gif);
    padding: 0 30px;
    word-wrap: break-word;
}

h1 {
    font-family: Georgia;
    font-style: italic;
    font-weight: normal;
    margin-left: 20px;
}

h1 a {
    color: #757575 !important;
}

dl {
    margin-top: 0;
}

a {
    color: #5A859F;
    text-decoration: none;
}

a:hover, a:active, a:focus {
    text-decoration: underline;
}

.nav {
    background-color: #000;
    font-family: Georgia;
    font-size: 1.5em;
    font-style: italic;
    margin: 0;
    padding: 10px;
    padding-left: 5px;
}

.nav li {
    display: inline;
    margin: 0 15px;
}

.flash-message {
    background-color: #F0F0F0;
    border: 1px solid #BBB;
    border-radius: 5px;
    margin: 5px;
    padding: 5px 0;
    text-align: center;
}


#content {
    background-color: #FFF;
    padding: 20px;
}

.title {
    border-top: 1px solid #DDD;
}

.title:first-child {
    border: 0;
}

.details .actions {
    float: right;
    list-style-type: none;
}

/* TODO: Show 'share' option once we implement it */
.details .actions .share {
    display: none; 
}

.details .actions > li {
    float: left;
    margin-right: 10px;
}

#content > dl > dt { /* TODO: .title */
    font-weight: bold;
    padding: 5px 5px 0 24px;
}

#content > dl > dd { /* TODO: .details */
/*    margin: 0 0 12px 0;*/
    margin: 0;
    padding: 0 5px 5px 5px;
}

dd dt {
    display: none; /* TODO: wb-invisible */
}

dd.url {
    font-size: 80%;
}

.tag {
    float: left;
    line-height: 32px;
    margin: 0;
    margin-right: 5px;
}

dt + .tag {
    background: url(../images/tag_s.png) no-repeat left center;
    padding-left: 20px;
}

.tag:after {
    content: ', ';
}

.tag:last-child:after {
    content: '';
}

#footer {
    background-color: #000;
    color: #FFF;
    padding: 5px 20px;
}

.login {
    margin: 0 auto;
}

.login input, .login textarea {
    display: block;
    margin-bottom: 12px;
}
